body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

p {
  color: #333;
}

form {
  margin: 1em;
}

#button {
  width: 6em;
  margin-bottom: 1em;
}

.ball {
  width: 1.5em; 
  height: 1.5em;
  float: left;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  border: 1px solid black;
  padding-top: 0.5em;
  padding-left: 0.5em;  
}

.number-section {
  width: 100%;
  height: 80px;
  display:block;
}